#create{
    color:aliceblue;
    background-color: rgb(154, 125, 29);
}

#saveDetails{
    margin:10px;
  padding: 0.6em 2em;
  font-weight: 700;
  border: none;
  outline: none;
  color: rgb(13, 12, 12);
  background: #4ae79e;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#saveDetails:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 40s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#saveDetails:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #8ae078;
  left: 0;
  top: 0;
  border-radius: 10px;
}

#list1{
    background-color: rgba(224, 224, 244, 0.5);
    border:none;
}
#list2{
    background-color: rgba(233, 226, 220, 0.5);
}
#list3{
    background-color: rgb(227, 239, 232);
}
#list4{
    background-color: rgb(238, 222, 225);
}
#input{
    border:#2b1111 solid 3px;
    width:500px;
}

#viewDetails{
    margin:10px;
    font-weight: 700;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(15, 14, 14);
  background: #40807a;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#viewDetails:before {
  content: "";
  background: linear-gradient(
    45deg,
    #bd5757,
    #835c3d,
    #d6d47d,
    #55b32f,
    #00ffd5,
    #6a7ee2,
    #7a00ff,
    #dc50bd,
    #b31c58
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#viewDetails:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f0c8c8;
  left: 0;
  top: 0;
  border-radius: 10px;
}